<div class="p-4 w-50 m-auto">
    FullName
    <input class="form-control form-control-lg" type="text" placeholder="enter your username"
        aria-label=".form-control-lg example" [(ngModel)]="username">
    data :{{username}}
</div>
<app-alert>
    Hello Alert From Home
</app-alert>

<div class="title bg-success p-2 shadow rounded text-center  text-white">
    <h2>All products</h2>
</div>
<div>
    <h3 class="bg-warning" #parentComp>show parent component</h3>
</div>
<div>
    <h3 class="bg-warning" #contComp>show contact component</h3>
</div>
<div>
    <h2 #ele>Show laptop component</h2>
</div>
@defer (on viewport(ele)) {
<app-laptop></app-laptop>
}

@defer (when role=='admin') {
<app-mobile></app-mobile>
}
@placeholder{
<p>large component placeholder</p>
}

@defer (on interaction ; prefetch on idle){
<app-gallery></app-gallery>
}
@placeholder {
<p>Lorem ipsum dolor sit amet.</p>
}
<section>

    <div class="row title text-center">
        @if(role ==='admin'){
        <h1>Hello,Admin</h1>
        }
        @else if(role==='user'){
        <h1>Hello,User</h1>
        }
        @else {
        <p>Invalid credentials</p>
        }
    </div>
    <div class="row g-4">
        @for(product of productList;track product.id){


        <div class="col-6 col-md-4 col-lg-3 ">
            <app-card [myData]="product" [first]="$first" [last]="$last" [count]="$count" [index]="$index"></app-card>

        </div>
        }


        @empty {
        <div class="alert alert-light" role="alert">
            No Products Found ...
        </div>
        }
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="title my-4 ">
            <h2>Recommended products</h2>
        </div>


        @defer (on interaction) {
        <app-recommended-products></app-recommended-products>
        }
        @placeholder {
        <h2 class="bg-info w-50 m-auto text-white">show more </h2>
        }


    </div>
</section>


<div class="w-50 m-auto bg-warning text-center text-white p-3">
    <h1>Hello component</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores alias, eos omnis amet vel quos! Laudantium
        dolores ullam, porro rem qui ratione consequuntur cumque, fuga asperiores eos reprehenderit distinctio in.
    </p>
    <hr>
    <app-alert>

        <p>Alert From Home</p>
        <span class="d-block">Hello Alert</span>
        <button class="btn btn-primary text-white">Click Alert Home </button>
    </app-alert>
    <app-my-btn>
        <span>From Home</span>
    </app-my-btn>
</div>k