<div class="p-4 w-50 m-auto">
    FullName
    <input class="form-control form-control-lg" type="text" placeholder="enter your username"
        aria-label=".form-control-lg example" [(ngModel)]="username">
    data :{{username}}
</div>

<div class="title bg-success p-2 shadow rounded text-center  text-white">
    <h2>All products</h2>
</div>
<div>
    <h3 class="bg-warning" #parentComp>show parent component</h3>
</div>
<div>
    <h3 class="bg-warning" #contComp>show contact component</h3>
</div>
<div>
    <h2 #ele>Show laptop component</h2>
</div>
@defer (on viewport(ele)) {
<app-laptop></app-laptop>
}

@defer (when role=='admin') {
<app-mobile></app-mobile>
}
@placeholder{
<p>large component placeholder</p>
}

@defer (on interaction ; prefetch on idle){
<app-gallery></app-gallery>
}
@placeholder {
<p>Lorem ipsum dolor sit amet.</p>
}
<section>
    <!------All product --------->
    <div class="row title text-center">
        @if(role ==='admin'){
        <h1>Hello,Admin</h1>
        }
        @else if(role==='user'){
        <h1>Hello,User</h1>
        }
        @else {
        <p>Invalid credentials</p>
        }
    </div>
    <div class="row g-4">
        @for(product of productList;track product.id){

        @if(product.onSale){
        <div class="col-6 col-md-4 col-lg-3 ">
            <div class="card border-3 h-100 " [class]="{
            'border-success':product.onSale,
            'border-danger':!product.onSale ,
            'bg-warning':$first,
            'bg-info':$last,
           
            }">
                <p>Index :{{$index}}</p>
                <p>count :{{$count}}</p>

                <img [src]="product.imageCover" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                    <h3 class="card-title h5">{{product.title}}</h3>
                    <p class="card-text">{{product.description}}</p>
                    <div class="d-flex flex-wrap justify-content-between">
                        <span class="fw-semibold">Price {{product.price}}EGP</span>
                        <span class="fw-semibold">Quantity :{{product.quantity}}</span>
                    </div>
                    <div class="row">
                        @for (imgPath of product.images; track $index) {
                        <div class="col-3">
                            <div>
                                <img [src]="imgPath" [alt]="product.title" class="w-100">
                            </div>
                        </div>

                        }

                    </div>
                </div>

            </div>

        </div>
        }

        }
        @empty {
        <div class="alert alert-light" role="alert">
            No Products Found ...
        </div>
        }
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="title my-4 ">
            <h2>Recommended products</h2>
        </div>
        <!-- @defer (on idle) {
        <app-parent></app-parent>
        }
        @defer (on immediate) {
        <app-recommended-products></app-recommended-products>
        } -->
        @defer (on interaction) {
        <app-recommended-products></app-recommended-products>
        }
        @placeholder {
        <h2 class="bg-info w-50 m-auto text-white">show more </h2>
        }

        @defer(on interaction(parentComp)){
        <app-parent></app-parent>
        }

        @defer(on hover){
        <app-contact></app-contact>
        }
        @placeholder {
        <h4 class="bg-warning">show contact page </h4>
        }

        @defer (on hover(contComp)) {
        <app-contact></app-contact>
        }
    </div>
</section>