<!-- <p>contact works!</p>
<app-alert>
    Hello Alert From Contact
</app-alert>
<a [href]="link" target="_blank" [class]="isAdmin ==true ? 'bg-danger' :'bg-warning'">Google</a>
<img [src]="imgPath" class="w-50 m-auto my-3 ">
<button [disabled]="isAdmin" (click)="changeImg()">change</button>
<div class="text-center">
    <label for="username">UserName</label>
    <input class="form-control bg-warning w-50 m-auto" type="text" name="" id="username"
        (keydown.shift.k)="onPressedK()" (keypress)="printKey($event)">
</div>

<h3 [attr.data-user]="userName" [class]="{
    'bg-danger' : isAdmin ===true,
    'fw-bold' : isAdmin ===true,
    'text-warning' :isAdmin ==true
}">ahmed mohamed</h3>
<h4 [attr.aria-labelledby]="" [style]="{
    'background-color':isAdmin == false? 'yellow' :'green',

}">Helloooo</h4> -->





<!-- <div class="w-50 m-auto bg-success text-center text-white p-3">
    <h1>Hello component</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores alias, eos omnis amet vel quos! Laudantium
        dolores ullam, porro rem qui ratione consequuntur cumque, fuga asperiores eos reprehenderit distinctio in.
    </p>
    <hr>
    <app-alert>
   
    <app-my-btn>
        <span>From Contact</span>
    </app-my-btn>
</div> -->

<app-about [salary]="'4'"></app-about>