<!-- <p>contact works!</p>
<a [href]="link" target="_blank" [class]="isAdmin ==true ? 'bg-danger' :'bg-warning'">Google</a>
<img [src]="imgPath" class="w-50 m-auto my-3 ">
<button [disabled]="isAdmin" (click)="changeImg()">change</button>
<div class="text-center">
    <label for="username">UserName</label>
    <input class="form-control bg-warning w-50 m-auto" type="text" name="" id="username"
        (keydown.shift.k)="onPressedK()" (keypress)="printKey($event)">
</div>

<h3 [attr.data-user]="userName" [class]="{
    'bg-danger' : isAdmin ===true,
    'fw-bold' : isAdmin ===true,
    'text-warning' :isAdmin ==true
}">ahmed mohamed</h3>
<h4 [attr.aria-labelledby]="" [style]="{
    'background-color':isAdmin == false? 'yellow' :'green',

}">Helloooo</h4> -->