<div class="container py-5 my-4">
    <div class=" m-auto " style="width: 18rem;">
        <div class=" card" [attr.data-index]="selectedObj.id">
            <img [src]="selectedObj.imgSrc" class="card-img-top" [alt]="selectedObj.name">
            <div class="card-body">
                <h5 class="card-title">{{selectedObj.name}}</h5>
                <p class="card-text">{{selectedObj.description}}</p>
                <div class="d-flex gap-3">
                    <button [disabled]="selectedObj.isSold">Buy Now</button>
                    <span [style.display]="selectedObj.isSold ===true ? 'inline' : 'none' " [class]="{
                'text-danger' : selectedObj.isSold ,
                'fw-bold':selectedObj.isSold,
                'bg-danger-subtle':selectedObj.isSold,
                'p-2':selectedObj.isSold,
                'rounded-circle':selectedObj.isSold
            }">Solded x </span>
                </div>

            </div>


        </div>
        <div class="d-flex justify-content-between align-items-center py-3">
            <button (click)=" cardDetails(-1)" class="btn btn-primary">Prev</button>
            <button (click)="cardDetails(+1)" class="btn btn-primary">Next</button>
        </div>

    </div>

</div>

<section>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro veritatis dolorem unde libero quibusdam at dolor
    dicta debitis? Error facere suscipit adipisci ipsum ducimus necessitatibus. Ea iusto quisquam unde eaque quod totam
    tempora nemo at similique labore doloribus quas qui, libero reprehenderit nostrum! Labore, odit quae hic
    consequuntur ducimus dolorem possimus facilis exercitationem doloribus corrupti quos aperiam incidunt, tempora
    libero. Quibusdam quod accusamus iure quam aliquid doloremque officia cum? Aliquid ad voluptatum quaerat aperiam
    soluta, reiciendis quod veritatis, vero ut modi dolorum itaque quidem tenetur nobis! Aliquid iste maxime fugiat
    velit? Dignissimos repellat, architecto maxime optio inventore excepturi debitis autem? Ad a fugit molestias
    architecto tempore amet odio fuga soluta nihil distinctio molestiae aliquam sint similique iusto dolor voluptate
    praesentium fugiat, culpa, voluptatibus alias commodi quo sunt? Ipsum quasi sed cum nisi voluptates officia
    assumenda excepturi veritatis ipsa, inventore aliquam corrupti quae eum consectetur vitae magni, fugit molestiae non
    illum sint beatae? Voluptatibus ea voluptatum nisi optio praesentium expedita ullam voluptates incidunt blanditiis
    asperiores. Consectetur natus voluptate sit, autem dolorem facilis repudiandae necessitatibus dignissimos, earum,
    fugit atque molestias ad quidem quisquam ipsum laborum. Voluptatibus officia assumenda quia molestiae tempora
    aliquam pariatur perspiciatis nemo quod. Quidem provident eaque fugiat quasi quis magni iusto aut repudiandae,
    nesciunt quas temporibus in? Doloremque mollitia non vel architecto quas voluptate, iste minus officiis distinctio
    numquam, est nobis cumque recusandae? Nobis laudantium accusantium hic autem quibusdam quaerat, et, vitae doloribus
    at dignissimos, debitis commodi voluptatem placeat doloremque dolorum sunt praesentium. Fuga dolores eligendi iste
    fugiat rerum voluptas distinctio! Veritatis, architecto tempore? Et, in tempora quasi enim quisquam illo, magni
    eligendi nihil, dolor aliquam odio accusantium neque placeat atque optio fuga aspernatur veniam facere. Doloremque
    neque totam obcaecati quis maxime. Temporibus enim voluptatibus explicabo libero, nulla asperiores fuga minus
    exercitationem similique sequi! Quibusdam, ea explicabo eos eum enim, architecto repellendus libero esse quis
    mollitia maiores dignissimos quae pariatur! Inventore placeat quae dolor, atque explicabo laboriosam? Id,
    consectetur nobis iusto cupiditate optio nisi nulla, quae numquam doloribus, temporibus qui repellat rem doloremque
    soluta ut vel fugit sunt amet ipsum saepe fugiat minima. Excepturi voluptates eum maiores, repellat maxime inventore
    officia at facilis enim asperiores molestiae in aperiam praesentium aliquam quibusdam fuga voluptatem deserunt
    tempora ad perspiciatis ipsam dolores velit. Quam ullam quaerat blanditiis provident ipsum pariatur nulla illum
    perferendis repellat impedit quasi tenetur omnis magni possimus odio vitae, eligendi temporibus cupiditate dicta
    animi, commodi maiores nam esse. Fugit nisi culpa quis dicta officia sit recusandae rem, id voluptate laudantium
    sunt magni? Perferendis impedit consequatur dolores nemo iure, repudiandae delectus tempore unde? Similique nobis
    doloremque iure quibusdam consequatur, illum quaerat numquam laudantium? Aliquam iure ex porro sed quia voluptate
    quis debitis, nam delectus ad, enim nesciunt eveniet recusandae quibusdam praesentium distinctio iste est sint
    corporis inventore maxime, ea ipsum. Corporis dolor repudiandae nam autem ad! Dolores dignissimos doloremque quis
    vitae iste ut necessitatibus dolorum incidunt illo aut eos a recusandae repudiandae illum rerum soluta ex,
    architecto accusantium corporis distinctio mollitia obcaecati voluptate doloribus. Quibusdam aliquam inventore
    beatae voluptate laboriosam placeat ducimus quo, cupiditate nobis magni perspiciatis, eaque ullam porro doloribus
    consequatur iste, rerum dicta cumque quae? Beatae quisquam ad sed aspernatur sint, animi dolore, neque ut qui itaque
    necessitatibus reiciendis ipsa perspiciatis hic in rerum quam vel saepe blanditiis totam impedit accusantium eum
    debitis? Voluptate vero odio cum esse inventore at quibusdam! Rem ut saepe laborum omnis est enim excepturi
    veritatis eos hic eius dolorem inventore perspiciatis harum, reprehenderit tempore labore incidunt nisi aperiam
    necessitatibus voluptatem explicabo minus. Assumenda aut blanditiis fugiat repudiandae, esse placeat in dolore illo
    nam, odit quia iste veniam eveniet, maiores ipsum adipisci ratione quam sint ullam? Harum, quibusdam ipsum. Sit
    officia totam fugiat animi excepturi quo provident est modi quasi qui voluptatibus, laborum vero? Officiis
    architecto accusantium quod ratione ab consequuntur reiciendis sequi dicta, doloremque mollitia expedita quasi natus
    delectus maxime cupiditate explicabo ex officia inventore laboriosam unde aspernatur sint nobis quam. Culpa impedit
    odio minus laudantium doloribus atque repellat nisi eos corrupti, natus hic totam quia excepturi soluta vero
    corporis aliquam repudiandae deleniti sequi esse sint dolore voluptatibus? Sapiente vero laudantium facilis magni
    nostrum excepturi culpa laborum ducimus fugit, optio asperiores in, minus corporis praesentium. Quo sit, minus id
    fuga ipsam voluptatem repellat commodi asperiores unde esse vitae eligendi est error rem consectetur tempora sunt,
    reiciendis illo laborum! Veniam reiciendis laborum rem esse atque commodi necessitatibus, blanditiis totam nulla
    possimus facilis aperiam unde. Possimus, quo id ullam et sunt doloremque cum optio qui ut minus enim necessitatibus
    ab, sequi incidunt voluptate asperiores vel architecto ipsam voluptatibus tenetur, ad molestias odit. Dolorum, sunt
    optio quos eveniet maiores delectus cupiditate sint eaque ab quisquam expedita, impedit praesentium vel
    necessitatibus error quo ipsam provident? Veritatis dignissimos saepe veniam qui voluptatibus vitae necessitatibus
    cumque minus, ipsa voluptatem doloremque quis totam ratione, incidunt rerum cum, a quos accusantium quas laboriosam
    natus dicta. Numquam porro voluptas consequuntur unde deserunt assumenda, hic ea laborum tempore eum officiis
    quisquam quidem minus nobis mollitia vero? Odio quod, aperiam molestias quis reiciendis minima, labore incidunt
    accusantium officia harum maiores voluptas non dolorum tenetur necessitatibus adipisci iure. Reprehenderit atque
    animi earum quia optio, eos, fugiat asperiores ipsam voluptates vero exercitationem sunt ut illo? Quia aliquid
    pariatur, consequuntur eos laborum eius velit blanditiis repellendus fugit dignissimos earum ipsa quae explicabo.
    Eligendi dignissimos quae, placeat quos reprehenderit dicta magnam necessitatibus rerum cum. Itaque earum aliquam
    cum consequuntur velit. Nostrum minima alias laborum illum, ullam maxime earum nulla nihil optio aliquid obcaecati
    velit quam, dolorum quidem mollitia, officiis exercitationem tempore est nesciunt quasi dolorem quae. Debitis saepe,
    tenetur beatae vero voluptatum dicta et ullam quod voluptates, unde officia numquam ut a exercitationem esse
    reiciendis consequatur. Non ipsa recusandae ipsam corrupti quaerat eveniet consequuntur voluptate magni incidunt
    ducimus quod inventore, deleniti amet eaque molestias totam est pariatur consectetur quas qui vero possimus
    cupiditate dolor impedit. Numquam earum unde doloribus cum veritatis ratione possimus dignissimos eligendi nesciunt
    blanditiis autem, animi cupiditate ullam mollitia reprehenderit vero laborum omnis non quia ea deserunt tempora
    aliquid voluptatem corrupti! Non, soluta? Sit, dignissimos recusandae? Enim culpa, fuga blanditiis, doloremque
    tempore deserunt minima commodi, cumque exercitationem natus nam. Vitae ab voluptates explicabo, iusto vero,
    laboriosam nam provident consectetur quaerat dolorem praesentium non illum. Aliquam assumenda unde nobis. Odit, esse
    voluptatibus! Fugiat aperiam consequuntur iusto quas, nostrum dolore cum. Harum enim corporis laudantium nesciunt,
    labore vel dolor assumenda aspernatur debitis nisi amet quidem. Voluptas saepe sunt, dolores nobis nihil velit aut
    sapiente dolor mollitia quaerat? Obcaecati sit quae hic adipisci, earum expedita incidunt quod. Soluta sit ipsum
    recusandae nemo numquam amet distinctio voluptate dolorem natus magnam. Voluptatibus id illum cupiditate rem beatae,
    est dolorum. Sunt mollitia porro fuga optio aliquam eaque, fugiat nemo exercitationem! Dignissimos repudiandae eaque
    dolores praesentium iste sunt minima placeat velit quos libero. Dignissimos, in! Incidunt eligendi sed
    exercitationem doloribus iure facere dicta recusandae magni, facilis dolorem totam culpa delectus aliquam ex, vel
    possimus ipsa, mollitia vitae! Eaque corporis assumenda dolor ipsum neque, ipsam beatae velit atque consectetur aut
    optio deleniti. Vero doloremque non ipsum numquam amet quia debitis labore, consectetur dignissimos modi sint et!
    Vel odit non minus animi enim placeat sequi qui hic consectetur aliquam ipsam, laudantium, blanditiis unde
    dignissimos quo quam maxime tempore nisi fugit amet beatae. Placeat harum, voluptas consequuntur explicabo esse
    tempora laboriosam optio sequi officia animi. Error officiis necessitatibus obcaecati quas a voluptatem, suscipit
    sint eligendi deserunt? Cupiditate obcaecati doloribus ullam possimus dolorum exercitationem aliquam, odio quo
    velit. Rem laboriosam accusamus, commodi vitae cumque quaerat? Eligendi, officia! Laboriosam sint est aperiam
    asperiores iure? Fugiat maiores exercitationem ad recusandae tempora cupiditate dicta incidunt alias, ex quaerat,
    quas nesciunt. Possimus quae fuga mollitia fugit minima, aliquam dignissimos veniam sunt eius consequuntur corrupti,
    nam vel. Obcaecati quo ipsa deserunt beatae quidem excepturi iusto non dolor, numquam voluptas autem nihil dolorum
    quisquam sunt eaque quos iure eius sed eligendi expedita. Consequatur alias in ab magni perferendis provident
    perspiciatis quisquam ullam incidunt dicta eligendi quas at recusandae molestias laudantium officia nam, dolore
    consequuntur enim labore unde aperiam aliquid nobis possimus? At, provident? Voluptates, facere? Reprehenderit et
    facilis repellat molestias, temporibus aut sapiente odit voluptatem modi harum unde. Ea quaerat dolores, qui soluta
    possimus quae molestias nostrum modi tempore enim, dolore aspernatur praesentium consectetur excepturi ex facilis,
    reiciendis minus hic cum maiores quisquam eveniet doloremque impedit saepe. Non molestias earum labore aperiam
    dignissimos consectetur repellat facilis dolores quibusdam optio, atque magnam dolore tempore quam placeat culpa
    adipisci deserunt sint eum! Reiciendis illo numquam modi aperiam praesentium! Impedit expedita aliquam doloremque
    ipsa earum pariatur saepe corporis laboriosam vero fuga itaque, aut eos deserunt quos nulla at? Rerum ullam
    architecto possimus temporibus, dolor blanditiis dolorem ducimus ratione tempore quidem est, veritatis recusandae
    hic repellat distinctio cumque pariatur ut! Pariatur similique itaque, eum animi illo provident tempore, nobis quia
    aut, iure ducimus. Esse animi magnam ut iure tempore pariatur eveniet facilis nulla consequatur possimus perferendis
    id quis numquam, voluptates repellat assumenda, accusantium quibusdam quidem, fuga facere tempora expedita adipisci
    porro odit. Veritatis velit minima rem iure inventore possimus modi facere. Accusantium saepe asperiores aliquid?
    Odio quam ipsam, aliquid vero cumque autem nulla est facere iusto labore id dolores, asperiores cum eius
    exercitationem quibusdam repellendus obcaecati non illo. Possimus nesciunt esse, minus laboriosam dolorem explicabo
    qui iusto ab nostrum, eius eos, quo in illum vitae ex ipsa placeat ipsum soluta! Officia a fugiat sequi mollitia
    suscipit, neque minus natus? Accusamus, dolore quidem commodi neque consectetur hic ipsa fuga dolorum, ratione
    sapiente rem? Nobis facere perspiciatis sunt, nesciunt dolores aliquam odit nam minus eaque enim hic eligendi sit
    iusto voluptate repellendus excepturi ad fugiat dolorum esse, corrupti nemo. Accusamus, molestias. Commodi incidunt,
    maxime sunt libero tempora modi cum ea aperiam asperiores natus ipsam excepturi error, sit quas eos tempore. Aut
    reiciendis itaque earum quos distinctio id est, laborum dolorum delectus dolores veniam. Consequuntur, aperiam
    cumque! Quo modi odit corporis expedita ipsam qui repellendus asperiores vel consectetur voluptas deleniti quidem
    eius cupiditate, est nisi? Porro, animi pariatur tempore nobis eligendi voluptatem optio quisquam vero molestiae
    magni aliquam error quae et adipisci eius ratione aut magnam consequatur alias nihil tenetur minus. Pariatur
    adipisci totam dolorum sapiente repellat perspiciatis officiis, quo quibusdam, alias est non minima ipsum
    dignissimos similique a? Error nostrum officia ab est repellendus a! Voluptates consequatur illo totam iusto numquam
    unde ratione quo consectetur, iure dolore fugit enim deserunt excepturi quas molestiae recusandae praesentium
    incidunt! Deleniti architecto autem rem natus, quis et sunt officiis ad! Necessitatibus, recusandae officia
    similique numquam molestias illum quis ad debitis ducimus voluptate deleniti quisquam assumenda nisi explicabo
    repellat velit. Voluptate molestiae animi sint magni tenetur eius dicta cum nam corrupti sapiente, facilis quaerat
    odio labore impedit beatae quasi eum? Pariatur similique reiciendis, asperiores harum facilis optio reprehenderit
    atque autem, sapiente rem nesciunt laboriosam a in ad id! Quidem culpa perspiciatis ipsum quibusdam iusto
    necessitatibus deserunt minus provident enim tempore eaque mollitia dolore nulla blanditiis, laudantium cum facilis
    natus vero laborum tempora dolor soluta ea! Perferendis ab harum quod doloremque quaerat quos dolor, in quasi illum?
    Repellendus cupiditate reprehenderit nostrum, pariatur velit, iusto ea quibusdam, laudantium nemo ducimus numquam
    veniam unde magnam omnis. Nesciunt temporibus aspernatur, voluptate possimus cumque aliquam perspiciatis nisi quas
    magni libero officiis obcaecati asperiores dicta mollitia ullam labore suscipit, repudiandae consequuntur omnis
    delectus excepturi culpa. Incidunt a libero eos, voluptatum nulla delectus ipsum vitae error amet aperiam. Vero
    magni ratione dolor doloribus consectetur, ut quae at minima ducimus. Voluptatum natus suscipit quia obcaecati porro
    rerum aperiam a sunt doloremque reprehenderit quasi eius voluptates repudiandae eligendi atque dolorem nemo maiores
    ex ratione voluptate quam, ab dolor deleniti. Harum nesciunt a nam, facere accusamus fugiat minus corporis nihil
    dolor odio voluptatum provident omnis similique ducimus itaque, quia placeat exercitationem eum magnam consectetur
    libero pariatur labore iusto. Modi harum aspernatur quis iure eum inventore in numquam nihil sint, qui officia ipsam
    ipsa sit reiciendis dolor quia obcaecati repudiandae hic? Cumque excepturi eum corrupti laudantium ad, eaque unde
    quo aut sit? Ipsam nostrum temporibus doloremque obcaecati dolores corporis rem ex vitae iste ratione ipsa quasi,
    recusandae deleniti quis eaque dicta. Nesciunt dolorem placeat optio beatae, ratione sequi ducimus. Quas incidunt
    doloribus similique ea est quidem excepturi magnam odio aspernatur reprehenderit rerum voluptatem adipisci pariatur
    hic architecto labore maxime, fuga quos ipsum nihil eius cum. Asperiores deserunt officiis ullam voluptatem fuga in
    amet unde corporis. Praesentium odio voluptates possimus in, ad voluptatem? Repellendus adipisci explicabo
    consequuntur perspiciatis, hic magni fuga eligendi consequatur exercitationem nisi eveniet dolor nulla. Esse ab
    eveniet minus expedita ducimus, atque quaerat deserunt distinctio sapiente vero rem obcaecati, ex quae est. Atque
    iusto tenetur dolorum cupiditate aliquid harum dolor maiores veniam, placeat sit aperiam ipsum voluptate eligendi
    possimus reprehenderit ducimus recusandae sint quae cum, dolorem quo enim quidem ipsa. Nulla repellat qui enim
    laudantium voluptatibus deleniti doloremque cum ab atque, quaerat porro ducimus nobis optio explicabo sed
    repellendus. Doloremque voluptates, nostrum culpa animi tempora quia blanditiis omnis. In facilis, culpa asperiores
    eveniet mollitia sequi incidunt repellendus beatae quaerat reprehenderit! Temporibus est, dolores amet dolore
    dolorum eligendi veritatis, optio debitis iure suscipit eos incidunt deserunt laboriosam repellat nisi aliquam
    nesciunt! Tempora, repudiandae fugiat quas amet, dolore iure omnis est, obcaecati perferendis praesentium ut?
    Recusandae libero neque quidem amet, quis atque dolores, deserunt voluptas eaque tenetur modi iure ipsam,
    exercitationem voluptate facere pariatur. Saepe dolores alias vero. Eveniet eius reprehenderit voluptas debitis
    suscipit architecto eos, veniam dolorem libero praesentium magni aut facere omnis dolores explicabo culpa, illo
    molestiae quas. Repudiandae quo, sed explicabo voluptatibus neque consequatur id odit eligendi amet consectetur
    quisquam ipsum minima aliquid odio dolores soluta recusandae labore? Ullam expedita esse at blanditiis sunt, quos
    magnam aliquam culpa nihil recusandae saepe fugiat! Maxime fugit blanditiis harum odio voluptatem officia aspernatur
    dolorum vero veritatis, nostrum ipsa vitae dignissimos libero neque numquam architecto exercitationem dolorem.
    Numquam nulla sequi adipisci aut cumque. Eos illum eligendi beatae veritatis! Consequuntur facilis, deleniti ipsam
    odio minima eum magnam dignissimos obcaecati, architecto vero et nulla aliquid quae molestiae maiores hic possimus
    quas minus, vitae aut! Qui animi rem tempora ab illo consequuntur aperiam inventore, accusantium mollitia adipisci
    illum voluptatibus architecto ducimus sapiente nisi vero voluptate ipsam. Adipisci vero quaerat consequatur!
    Sapiente ea optio officiis nemo illum maiores incidunt enim eligendi sit reprehenderit maxime aut, corrupti quaerat
    molestias? Inventore tempora quae eveniet nam saepe ab neque, atque voluptates repellat quasi cupiditate enim libero
    ex ipsam adipisci repellendus. Dolor cum rerum sequi assumenda dicta, sint accusantium nemo iusto doloribus fuga
    distinctio voluptatibus! Quos cupiditate vero quae! Ex id ut corporis provident minima dolor eligendi dolores, quis
    minus odit repellendus. Quasi quo amet aspernatur nemo quidem facere culpa nisi, distinctio mollitia numquam,
    minima, dicta excepturi et ab nesciunt corrupti libero fugiat eaque nihil modi consequuntur accusantium! Iure,
    voluptatibus molestiae. Aut nobis hic quam incidunt, saepe facilis. Natus odit ullam quia quibusdam eum nobis,
    praesentium exercitationem debitis architecto provident voluptatem magnam incidunt omnis esse, officia quas
    excepturi. Officiis animi totam consequatur adipisci eaque numquam? Ut doloribus libero a, doloremque at cupiditate
    perspiciatis vitae quod obcaecati rem id laborum eius voluptatibus blanditiis sit quae, tempore quasi enim esse
    ipsum! Doloribus architecto porro sapiente, tenetur fugiat corrupti odio ex, iure maiores officiis temporibus,
    ducimus consequuntur vel tempore et? Optio, adipisci! Impedit maxime quo commodi, excepturi perspiciatis, id
    tempore, officia rem labore iste vel nihil. Id quae, cupiditate culpa autem voluptatibus soluta temporibus dolore
    earum odio aperiam animi magnam architecto, maxime quibusdam facilis ipsam doloribus eligendi accusamus mollitia ea,
    quasi sapiente sed praesentium. Enim expedita quis laboriosam numquam quae id voluptatum nulla provident iure libero
    quos officiis voluptatibus dolorem consectetur asperiores, veritatis amet doloribus placeat, fuga repellendus
    tempora iste vero sint nobis! Minus sed autem perspiciatis enim odit mollitia blanditiis cum maxime tempore saepe,
    officiis dolor aspernatur suscipit praesentium, sunt nam ullam aperiam nostrum reprehenderit accusantium in
    dignissimos quam. Quasi provident odit ratione minus ducimus consequuntur rerum blanditiis deleniti quo dolorum
    voluptatem atque vero velit vel nam maiores perspiciatis suscipit ut quia, quos et? Optio in corporis esse culpa!
    Aperiam voluptatibus repellat id fugiat, voluptas saepe ab, rerum, sunt laudantium eos optio aliquam amet enim
    laboriosam architecto vel dolorem! Unde assumenda sapiente maiores, sunt doloribus esse ea id, debitis perferendis
    eos deserunt ullam qui. Assumenda temporibus nulla nostrum velit itaque modi quis autem vel corrupti maxime!
    Provident adipisci nostrum enim quibusdam rem laborum a dolorem sit, neque exercitationem assumenda tenetur hic
    ipsum error pariatur rerum quam voluptatum quis fugiat labore tempore ex. Dolorum vel ea illum necessitatibus beatae
    explicabo id labore velit delectus dolore, corporis soluta molestias dolores adipisci. Nostrum ex nesciunt sint
    vitae aliquam excepturi ab quam tempora hic, fuga quibusdam explicabo ipsam, sed illo dolorum temporibus debitis
    quasi! Id eligendi molestias illo animi quaerat fuga vel nihil eveniet, cumque laboriosam, commodi dignissimos eius
    voluptates eos error autem eaque sint placeat quas odio, expedita adipisci laudantium impedit asperiores? Tempora
    dolore alias fuga suscipit, obcaecati ipsam itaque. Corporis distinctio asperiores perferendis temporibus
    exercitationem soluta commodi labore eum qui, architecto perspiciatis inventore recusandae fugiat nisi rerum libero
    deleniti pariatur molestiae? Quidem, modi qui, id sapiente aut obcaecati minus voluptatibus, soluta illum nostrum
    suscipit officiis dignissimos voluptate reprehenderit itaque? Vitae, veritatis vel! Praesentium in, nam, non porro
    rerum placeat necessitatibus aperiam nemo, est vero sed eos consectetur enim neque sint molestias! Totam fuga
    provident officiis obcaecati inventore explicabo laboriosam cumque rem, voluptatem quam neque vero accusantium
    dolorem veritatis quis, eaque illo. Laudantium, voluptatibus. Eos at magnam earum soluta maiores. Aliquam quos saepe
    impedit quo suscipit tempora corporis perspiciatis vero nam deleniti quisquam, fuga atque placeat officia aliquid
    sapiente cum commodi similique ratione hic architecto maxime natus sunt? Aut ea placeat deleniti alias sapiente cum
    obcaecati cupiditate recusandae sunt. Praesentium iste officia, eaque quos delectus nostrum doloremque laboriosam
    voluptate sapiente quidem accusamus optio fugiat voluptatem aperiam distinctio incidunt, minima at perferendis?
    Unde, tenetur non. Laboriosam perferendis nobis perspiciatis minima cupiditate animi dignissimos sequi nemo alias
    quidem, earum fugiat vero, blanditiis sit voluptatum, quia recusandae distinctio assumenda obcaecati deserunt illum
    ad necessitatibus voluptates. Nihil voluptate debitis a repellendus beatae voluptatibus vel eveniet nemo, doloribus
    dolor quasi iste natus, labore voluptatem officia, facilis dignissimos! Eveniet doloremque deleniti iste in
    perferendis.
</section>